.root {
  background-color: #ffffff;
  padding: 43px 20px 40px 20px;
  box-sizing: border-box;
}

.tooltip {
  width: 145px;
  height: 69px;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px 0 rgba(185, 185, 200, 0.64);
  border-radius: 2px;
  padding-left: 21px;
  padding-top: 17px;
  font-family: Lato, sans-serif;
}

.value {
  font-weight: bold;
  margin-bottom: 14px;
  font-size: 16px;
  color: #393f52;
}

.title {
  font-size: 14px;
  color: #7f8590;
}
