.root {
  outline: none;
  background: inherit;
  display: inline-block;
  width: 100%;
  color: #2a2a2a;
  background-color: white;
  transition: .3s border-color;
}

.root:focus {
  border-color: #7178ff;
}

.error {
  border-color: red !important;
}

.fullBordered {
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid #e6e9ed;
  padding: 20px 0 20px 20px;
}

.bottomBordered {
  border: none;
  font-size: 18px;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #e6e9ed;
}
