.root {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  background-color: #7588ff;
  cursor: pointer;
  user-select: none;
  transition: background-color .3s;
  height: 70px;
}

.root:hover {
  background-color: #7373ff;
}

.root.active {
  background-color: #7373ff;
}
