.root
{
  width: 100%;
  resize: vertical;
  padding: 23px 30px 23px 65px;
  outline: none;
  border: none;
  height: 74px;
  font-family: Lato, sans-serif;
  border-radius: 5px;
  transition: border-color .3s;
  font-size: 18px;
  box-sizing: border-box;
  color: #394054;
}
