.root {
  width: 100%;
  padding: 10px 0 10px 9px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-size: 14px;
  color: #7484ff;
}

.matched {
  color: #292f3d;
  font-weight: bold;
}

.root:hover, .active {
  background-color: #7484ff;
  color: white;
}

.root:hover .matched, .active .matched {
  color: #292f3d;
}
