.root {
  border-bottom: 1px solid #d8dde5;
  width: 261px;
}

.root input {
  border: none;
  background: none;
  outline: none;
  display: inline-block;
  width: 235px;
  padding-left: 10px;
  color: #b1bbca;
  font-family: 'Lato', sans-serif;
  height: 25px;
  font-size: 14px;
}

.searchIcon {
  display: inline-block;
}
