.slideItem {
  width: 128px;
  height: 98px;
  box-sizing: border-box;
  position: relative;
}

.checkBox {
  position: absolute;
  top: 5px;
  right: 10px;
}

.slideItem img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-size: cover;
  cursor: pointer;
  border: 2px solid transparent;
}

.slideItem.active img, .slideItem:hover img {
  border-color: #5f79e5;
}
