.link {
  font-family: Lato, sans-serif;
  font-size: 18px;
  color: #8f959f;
  text-decoration: none;
}

.link i {
  padding-left: 10px;
  color: #8f959f !important;
}

.active, .active i {
  color: #7588ff !important;
}

.item:first-child {
  padding-left: 0;
}

.item:last-child {
  padding-right: 0;
}

.item {
  padding: 0 10px;
}
